
@{
    ViewBag.Title = "Index";
}

<h2>Menu table Storage</h2>
 
<ul>
    <li>
        @Html.ActionLink("Insertar Clientes","InsertarCliente","Clientes")
    </li>
    <li>
        @Html.ActionLink("Buscar Clientes Empresa", "ClientesEmpresa", "Clientes")
    </li>
</ul>

